// =======================================================================================================================
// # VENDORS
// ======================================================================================================================= 

// COMPASS
@import "compass/css3/";

// FOUNDATION
@import "../../vendors/foundation/scss/normalize";                         
@import "../../vendors/foundation/scss/foundation/settings";               
@import "../../vendors/foundation/scss/foundation";                         

//=======================================================================================================================

// reset
@import "reset";

.content-main {
	padding: 15px;
}

// Lista de veiculos
.vehiclesList {
	@include block-grid(
		$per-row: 5,
		$spacing: $block-grid-default-spacing,
		$base-style: true
	);
}

.vehiclesList-item {
	text-align: center;
	a, img {
		@include border-radius(8px);
	}
	a {
		@include thumb(
			$border-width: 2px,
			$box-shadow: 0 0 0 1px rgba(#000, .2),
			$box-shadow-hover: 0 0 6px 1px rgba(#ccc,0.5)
		);
	}
}

