// =======================================================================================================================
// # VENDORS
// =======================================================================================================================

// COMPASS
@import "compass/css3/";

// FOUNDATION
@import "foundation/scss/normalize";
@import "foundation/scss/foundation/settings";
@import "foundation/scss/foundation";

//=======================================================================================================================

// reset
@import "reset";

.content-main {
	padding: 15px;
}

// Lista de veiculos
.vehiclesList {
	@include block-grid(
		$per-row: 5,
		$spacing: $block-grid-default-spacing,
		$base-style: true
	);
}

.vehiclesList-item {
	text-align: center;
}

